@page
@model WeddingHouseApp.Pages.Pary_mlode.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Para_mloda</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Para_mloda.Para_mlodaID" />
            <div class="form-group">
                <label asp-for="Para_mloda.Sposob_przedstawienia_oferty" class="control-label"></label>
                <input asp-for="Para_mloda.Sposob_przedstawienia_oferty" class="form-control" />
                <span asp-validation-for="Para_mloda.Sposob_przedstawienia_oferty" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Para_mloda.Data_przedstawienia_oferty" class="control-label"></label>
                <input asp-for="Para_mloda.Data_przedstawienia_oferty" class="form-control" />
                <span asp-validation-for="Para_mloda.Data_przedstawienia_oferty" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Para_mloda.Akceptacja_oferty" /> @Html.DisplayNameFor(model => model.Para_mloda.Akceptacja_oferty)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
