@page
@model IndexModel
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>WeddingHouseApp</h1>
</div>
<div class="row">
    <div class="col-md">
        <h2>Welcome to WeddingHouseApp!</h2>
        <p>
            WeddingHouseApp is an application for wedding
            houses.
        </p>
    </div>
</div>